{{define "content"}}
<div id="content">

  <div id="cc-clients-table" class="box">
    <h1 class="box-header">CC Clients</h1>
    <div class="box-content">
      <table id="cc-clients-dataTable" class="table table-striped table-bordered dataTable no-footer"></table>
    </div>
  </div>

  <div id="cc-commands-table" class="box">
    <h1 class="box-header">CC Commands</h1>
    <p class="box-content" style="padding-bottom:0; margin-bottom:0;">
      Click <i class="fa fa-plus-circle"></i> next to a command to view its responses.
    </p>
    <div class="box-content">
      <table id="cc-commands-dataTable" class="table table-striped table-bordered dataTable no-footer"></table>
    </div>
  </div>

</div>

<script type="text/javascript" src="/libs/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/libs/dataTables/dataTables.buttons.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.colVis.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.html5.js"></script>
<script type="text/javascript" src="/libs/dataTables/buttons.bootstrap.js"></script>

<script type="text/javascript" src="/js/glue.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('nav a[href$="' + "cc" + '"]').addClass("current-view");
    initCCDataTables();
  });
</script>
{{end}}
